<h1>An individual post show page</h1>
<h2><%= @post.body %></h2>
<p><strong>Author: </strong><%= link_to @post.user.username, user_path(@post.user) %></p>
<h2>Comments:</h2>
<ul>
	<% @comments.each do |comment| %>
		<li><%= comment.user.username %></li>
		<li><%= comment.content %></li>
		<li><%= time_ago_in_words(comment.created_at) %></li>
	<% end %>
</ul>

<h2>Add Comment:</h2>

	<%= form_for([@post, @comment]) do |f| %>

  	<div class="field">
    	<%= f.text_area :content, placeholder: "Compose new post..." %>
  	</div>
  	<%= f.submit "Comment"%>
  <% end %>



